<%- include("header") -%>
<div class="box" id="heading">
  <h1><%=listTitle%> List!</h1>
</div>

<div class="box">
  <!-- <li><%=newItem%></li> -->
  <% for(let i in newItem ){ %>
  <div class="item">
    <input type="checkbox" />
    <p><%= newItem[i] %></p>
  </div>
  <%}%>
  <form action="/" method="POST" class="item">
    <input
      type="text"
      name="todoTitle"
      placeholder="Enter new todo"
      required
      autocomplete="off"
    />
    <button type="submit" name="list" value="<%=listTitle%>">+</button>
  </form>
</div>
<%- include("footer") -%>
